div.questionBox{
	margin-bottom: 0;
	width: 600px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header{
	min-height: 50px;
	font-size: 18px;
}
.body{
	height: 60%;
}
.footer{}
#id::after{
	content: ".";
}
#title{
	margin: 0;
}
ol#list{
	padding: 0 0 0 20px;
	height: 100%;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
ol#list li{
	padding-left: 5px;
	cursor: pointer;
	line-height: 40px;
	border-radius: 5px;
}
ol#list>li:hover{
	background-color: rgb(245,245,245);
}
.defalut{
	background-color: rgb(231,234,237);
}
.success{
	background-color: rgb(223,240,216)!important;
}
.failed{
	background-color: rgb(242,222,222)!important;
}
.active{
	background-color: lightblue!important;
}
#answerSheet{
	display: flex;
	flex-wrap: wrap;
	overflow: scroll;
	height: 300px;
	width: 310px;
}
#answerSheet::-webkit-scrollbar {display:none}
#answerSheet div{
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	outline: 1px solid rgb(245,245,245)
}
#answerSheet div:hover{
	background-color: rgb(217,237,247);
}